#minor-publishing,
#edit-slug-box,
.row-actions,
#message a,
#wp-admin-bar-view {
	display: none;
}

#tqbb01-color-picker-container > label {
	display: inline-block;
	margin-top: 8px;
}

#tqbb01-custom-inline-css {
    width: 100%;
}

#menu-posts-tqbb01_banner .wp-menu-image img {
    max-width: 28px;
    margin-top: -2px;
}