#minor-publishing,
#edit-slug-box,
.row-actions,
#message a {
    display: none;
}

#color-pickers-container > span {
    display: inline-block;
    line-height: 28px;
    vertical-align: middle;
    margin-top: 8px;
}