#minor-publishing,
#edit-slug-box,
.row-actions,
#message a {
	display: none;
}

#color-picker-container > span {
	display: inline-block;
	margin-top: 8px;
	vertical-align: middle;
	line-height: 28px;
}